@import "../../../styles/vars.scss";

.modal-container {
  @extend %centered-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $third-shadow-color;
  z-index: 11;
}
