.home-page {
  position: relative;
  padding: 60px 0 30px;
  min-height: 100vh;

  @media (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
  }

  &__sidebar-wrapper {
    margin: 15px 0 30px;

    @media (min-width: 768px) {
      margin-bottom: 20px;
    }

    @media (min-width: 1280px) {
      margin: 40px 75px 0 0;
      box-sizing: border-box;

      &::after {
        content: "";
        position: absolute;
        left: 470px;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: var(--main-background-color);
        box-shadow: -1px 0px 0px var(--secondary-shadow-color),
          1px 0px 0px var(--main-shadow-color);
      }
    }
  }

  &__trasactions-list-wrapper {
    width: 100%;

    @media (min-width: 1280px) {
      padding-top: 40px;
      max-width: 708px;
    }
  }

  &__loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }
}

.add-transaction-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: var(--green-color);
  box-shadow: 0px 6px 15px var(--green-transperent-color);
  filter: drop-shadow(0px 3px 10px var(--main-transparent-color));
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: 768px) {
    bottom: 40px;
    right: 40px;
  }
}
