@import "../../../styles/vars.scss";

%button {
  margin: 0 auto;
  padding: 0;
  max-width: 300px;
  width: 100%;
  height: 50px;
  @include font(400, 18px, 27px);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
}

.button {
  &--main {
    @extend %button;
    color: $secondary-text-color;
    background-color: $green-color;
    border: none;
  }

  &--secondary {
    @extend %button;
    color: $third-text-color;
    background-color: $white-background-color;
    border: 1px solid $third-text-color;
  }

  &--error {
    @extend %button;
    color: $secondary-text-color;
    background-color: $error-text-color;
    border: none;
  }
}
