@import "../../../styles/vars.scss";

.not-found-page {
  @extend %centered-box;
  min-height: 100vh;

  &__content-wrapper {
    @extend %centered-box;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-size: 40px;
    color: $main-color;
  }

  &__sub-title {
    text-align: center;
    font-size: 20px;
  }
}
