@import "../../../styles/vars.scss";

.navigation {
  display: flex;
  gap: 40px;

  @media (min-width: 768px) {
    flex-direction: column;
    gap: 12px;
  }

  &__link {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }

    &--active {
      & svg {
        fill: $main-color;
        filter: drop-shadow(0px 3px 10px $main-transparent-color);
      }

      & p {
        font-weight: 700;
      }
    }

    &__icon {
      fill: $secondary-color;
      transition: $main-transition;

      &:hover {
        fill: $main-color;
        filter: drop-shadow(0px 3px 10px $main-transparent-color);
      }

      @media (min-width: 768px) {
        margin-right: 10px;
      }
    }

    &__name {
      @include font(400, 18px, 26px);
    }
  }
}
