.container {
  margin: 0 auto;
  min-height: 100vh;

  @media (min-width: 768px) {
    max-width: 708px;
  }

  @media (min-width: 1280px) {
    max-width: 1250px;
  }

  &__background {
    background-color: var(--main-background-color);

    @media (min-width: 480px) {
      min-height: 100vh;
    }

    @media (min-width: 768px) {
      width: 100%;
      background-image: url("../../../assets/img/ellipse-violet.png"),
        url("../../../assets/img/ellipse-pink.png");
      background-repeat: no-repeat, no-repeat;
      background-position: left bottom, right top;
    }
  }

  &__backdrop {
    @media (min-width: 480px) {
      min-height: 100vh;
    }
  }
}

.with-blur {
  backdrop-filter: blur(50px);
}
