@import "../../../styles/vars.scss";

%toggle-body {
  @extend %centered-box;
  position: absolute;
  top: -2px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.25s ease-in-out;
}

.toggle {
  position: relative;
  width: 80px;

  &__body {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid $main-placeholder-color;
    cursor: pointer;
  }

  &__plus {
    @extend %toggle-body;
    transform: translateX(-4px);
    background-color: $green-color;
    box-shadow: 0px 6px 15px $green-transparent-color;
  }

  &__minus {
    @extend %toggle-body;
    transform: translateX(40px);
    background-color: $red-color;
    box-shadow: 0px 6px 15px $red-transparent-color;
  }

  &__input {
    display: none;
  }
}
