@import "../../../styles/vars.scss";

.statistics-page {
  position: relative;
  padding: 60px 0 30px;
  min-height: 100vh;

  @media (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
  }

  &__sidebar-wrapper {
    margin: 15px 0 30px;

    @media (min-width: 768px) {
      margin-bottom: 40px;
    }

    @media (min-width: 1280px) {
      margin: 40px 75px 0 0;

      &::after {
        content: "";
        position: absolute;
        left: 470px;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: $main-background-color;
        box-shadow: -1px 0px 0px $secondary-shadow-color,
          1px 0px 0px $main-shadow-color;
      }
    }
  }

  &__statistics-tab-wrapper {
    position: relative;
    width: 100%;

    @media (min-width: 1280px) {
      padding-top: 40px;
      max-width: 708px;
    }
  }

  &__loader-wrapper {
    @extend %centered-box;
    min-height: 50vh;
  }
}
