.statistics-page {
  position: relative;
  padding: 60px 0 30px;
  min-height: 100vh;

  @media (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
  }

  &__sidebar-wrapper {
    margin: 15px 0 30px;

    @media (min-width: 768px) {
      margin-bottom: 40px;
    }

    @media (min-width: 1280px) {
      margin: 40px 75px 0 0;
      box-sizing: border-box;

      &::after {
        content: "";
        position: absolute;
        left: 470px;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: var(--main-background-color);
        box-shadow: -1px 0px 0px var(--secondary-shadow-color),
          1px 0px 0px var(--main-shadow-color);
      }
    }
  }

  &__statistics-tab-wrapper {
    @media (min-width: 1280px) {
      margin-left: 75px;
      padding-top: 40px;
      width: 100%;
    }
  }
}
