.trans-list-desktop {
  &__head {
    display: grid;
    grid-template-columns: 98px 200px 200px 105px 105px;
    padding: 16px 0;
    background-color: var(--white-background-color);
    border-radius: 30px;

    &__name {
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
    }
  }

  &__body {
    &__item {
      display: grid;
      grid-template-columns: 118px 190px 190px 105px 105px;
      height: 55px;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid var(--main-placeholder-color);
        box-shadow: 0px 1px 0px var(--main-shadow-color);
      }
    }

    &__value {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 24px;

      &--start {
        padding-right: 10px;
        padding-left: 20px;
      }

      &--center {
        justify-content: center;
      }

      &--end {
        justify-content: end;
        padding-right: 20px;
      }

      &--limit {
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -moz-box-orient: vertical;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      &--spending {
        font-weight: 600;
        color: var(--red-color);
      }

      &--incoming {
        font-weight: 600;
        color: var(--green-color);
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }

  &__empty-message {
    padding-top: 20px;
    text-align: center;
    font-size: 22px;
  }
}
